body {
  height:100%;
  margin: 1% 8% 6%;
  background: linear-gradient(45deg, #114736,#31cf9d);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h5 {
  color: white;
  background: linear-gradient(65deg, #f2f9ff46, #f2f9ff42);
  border-radius: 5px 5px 0 0;
  margin: 25px 0 0;
  padding: 3%;
  text-align: center;
}

img {
  width: 100%;
}

#title {
  margin:5% 1.5%;
  padding: 3%;
  font-size: 34px;
  color: white;
  background: linear-gradient(90deg, rgba(242, 249, 255, 0.0001),rgba(255, 255, 255, 0.16), rgba(242, 249, 255, 0.0005));
}
  
#preview {
  width: auto;
  padding: 10px 20px;
  background-color: white;  
}

#editor, #preview {
  border-radius: 0 0 5px 5px;
  min-height: 200px;
}

/* customize style for smaller devices */
@media (max-width: 600px){
  body{
    margin: 1% 1% 5%;
  }
}
